/* variables */
:root {
    --color_1: green;
    --father-container-bg-color: rgb(102, 197, 115);
    --child-container-bg-color: tomato;
}

*{
    font-family: 'Playwrite AU QLD', coursive;
    /* removing defaut configuration */
    padding: 0;
    margin: 0.2rem;

    /* keep the container with the same size after padding */
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* Sets the base font size to 10px (62.5% of the default 16px),
    making it easier to use rem units for sizing — now 1rem ≈ 10px */
}

h1 {
    color: #00f;
    font-size: 26px;
}
p {
    color: var(--color_1);
    font-size: 1.6rem; /* 1rem ≃ 16px -> after html font-size:62.5% = 10px */
}

/* class */
.p1 {
    color: #00f;
}
.p2 {
    color: #ff0000;
}
.p3 {
    color: blueviolet;
}

div + p {
    color: aqua;
}

p.mara {
    color: yellowgreen;
}

div > p {
    color: teal;
}

.fatherElement {
    position: relative;
    background-color: aqua;
    width: 20rem;
    height: 10rem;
}

.childElement {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ff0000;
}

.fatherContainer_1{
    display: flex;
    justify-content: start;
    background-color: var(--father-container-bg-color);
    width: 60rem;
    height: 30rem;
}

.fatherContainer_2{
    display: flex;
    justify-content: end;
    background-color: var(--father-container-bg-color);
    width: 60rem;
    height: 30rem;
}

.fatherContainer_3{
    display: flex;
    justify-content: center;
    background-color: var(--father-container-bg-color);
    width: 60rem;
    height: 30rem;
}

.fatherContainer_4{
    display: flex;
    justify-content: space-between;
    background-color: var(--father-container-bg-color);
    width: 60rem;
    height: 30rem;
}

.fatherContainer_5{
    display: flex;
    justify-content: space-around;
    background-color: var(--father-container-bg-color);
    width: 60rem;
    height: 30rem;
}

.fatherContainer_6{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--father-container-bg-color);
    width: 60rem;
    height: 30rem;
}

.childContainer {
    background-color: var(--child-container-bg-color);
    width: 10rem;
    height: 5rem;
    margin: 10px 5px;
}

/* align-itens */
.fatherContainer_7{
    display: flex;
    align-items: start;
    background-color: var(--father-container-bg-color);
    width: 60rem;
    height: 30rem;
}

.fatherContainer_8{
    display: flex;
    align-items: end;
    background-color: var(--father-container-bg-color);
    width: 60rem;
    height: 30rem;
}

.fatherContainer_9{
    display: flex;
    align-items: center;
    background-color: var(--father-container-bg-color);
    width: 60rem;
    height: 30rem;
}

.fatherContainer_10{
    display: flex;
    align-items: stretch;
    background-color: var(--father-container-bg-color);
    width: 60rem;
    height: 30rem;
}

.fatherContainer_11{
    display: flex;
    align-items: baseline;
    background-color: var(--father-container-bg-color);
    width: 60rem;
    height: 30rem;
}

.fatherContainer_12{
    display: flex;
    align-items: start;
    background-color: var(--father-container-bg-color);
    width: 60rem;
    height: 30rem;
}

.childContainer_2{
    background-color: var(--child-container-bg-color);
    width: 10rem;
    margin: 10px 5px;
    border: 1px solid black;
}

/* grid */

.grid_container {
    display: grid;
    background-color: crimson;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr)
}

.item{
    background-color: chocolate;
}

.item:nth-child(1){
    grid-column: 1/3;
}

.item:nth-child(2) {
    /* grid-row: 2/4;
    grid-column: 1/2; */
    grid-area: 2 / 1 / 5 / 2;
}

.item:nth-child(3) {
    grid-area: 2 / 2 / 4 / 3;
}

.item:nth-child(5) {
    grid-area: -2 / 1 / -1 / 3;
}